// FONTS
@import './styles.scss';

//NAVBAR STYLES
.navbar-container {
  margin: 0rem;
  padding: $dimenS $dimenXL $dimenXXXS $dimenXL;
  width: 100%;
  h1 {
    margin: 0rem;
    color: $blue;
    font-size: 24px;
    font-family: $font1;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
  hr {
    margin: $dimenXXS 0rem;
    width: 100%;
    color: rgba($black, 0.6);
  }
}

.navbar-container-bottom {
  p, span {
    margin: 0rem;
    color: $blue;
    font-size: 14px;
    font-family: $font1;
    font-style: normal;
    font-weight: 400;
  }
  span {
    cursor: pointer;
  }
}

.spinner-border {
  width: 24px !important;
  height: 24px !important;
  color: $blue !important;
}

@media (max-width: $mediaLG) {

  .navbar-container {
    padding: $dimenS $dimenL;
    h1 {
      font-size: 22px;
    }
  }

}

@media (max-width: $mediaXS) {

  .navbar-container {
    padding: $dimenXS $dimenM;
    h1 {
      font-size: 18px;
    }
  }

}

//DASHBOARD STYLES
.dashboard-main, .dashboard-pages {
  margin: 0rem;
  padding: 0rem;
}

.dashboard-pages {
  padding: $dimenXXXS $dimenM $dimenM $dimenM;
}

.dashboard-pages, .home-section, .home-podcast,
.podcast-input-container {
  margin: 0rem;
  width: 100%;
}

.home-podcast {
  gap: $dimenM;
}

.cards-container {
  margin: $dimenXXXL 0rem 0rem 0rem;
  padding: 0rem;
  width: 100%;
  max-width: 1200px;
  row-gap: calc($dimenXXXL + $dimenM);
  column-gap: $dimenM;
}

.card-item {
  position: relative;
  margin: 0rem;
  padding: calc($dimenXXXL + $dimenXXS) $dimenM $dimenM $dimenM;
  width: 100%;
  max-width: 320px;
  border: 1px solid rgba(213, 213, 213, 0.25);
  border-radius: $border2;
  box-shadow: 0px 10px 30px rgba(213, 213, 213, 0.25);
  background: $blueBackground;
  gap: $dimenXS;
  cursor: pointer;
  img {
    position: absolute;
    top: -60px;
    left: calc(50% - 60px);
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    box-shadow: 4px 4px 30px rgba(213, 213, 213, 0.25);
  }
  h3 {
    margin: 0rem;
    color: $black;
    font-size: 18px;
    font-family: $font1;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  h4 {
    margin: 0rem;
    color: $grey;
    font-size: 14px;
    font-family: $font1;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.card-item:hover > img {
  transform: translateY(-6px);
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  opacity: 0.8;
}

.card-item-loading {
  margin: 0rem;
  width: 320px;
  flex-shrink: 0;
  div:nth-child(1) {
    position: absolute;
    top: -60px;
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 4px 4px 30px rgba(213, 213, 213, 0.25);
  }
  div:nth-child(2) {
    margin: 0rem;
    width: 100%;
    height: 20px;
  }
  div:nth-child(3) {
    margin: 0rem;
    width: 100%;
    height: 15px;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%)
  }

  100% {
    background-color: hsl(200, 20%, 95%)
  }
}

.podcast-input-left {
  gap: $dimenXS;
  .podcast-input-counter {
    margin: 0rem;
    padding: $dimenXXS $dimenXS;
    background-color: $blue;
    border-radius: $border4;
    color: $white;
    font-size: 12px;
    font-family: $font1;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  input {
    padding: $dimenXXS $dimenXS;
    min-width: 240px;
    font-size: 14px;
    font-family: $font1;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: 1px solid rgba(213, 213, 213, 0.7);
    border-radius: $border2;
  }
}

@media (max-width: $mediaLG) {

  .cards-container {
    row-gap: calc($dimenXXXL + $dimenM);
    column-gap: $dimenM;
  }
  
  .card-item {
    padding: $dimenXXXL $dimenM $dimenM $dimenM;
    max-width: 300px;
    gap: $dimenXS;
    img {
      top: -60px;
      left: calc(50% - 60px);
      max-width: 120px;
      max-height: 120px;
    }
    h3 {
      font-size: 16px;
    }
    h4 {
      font-size: 13px;
    }
  }

  .card-item-loading {
    width: 300px;
  }

}

@media (max-width: $mediaXS) {

  .cards-container {
    row-gap: calc($dimenXXXL);
    column-gap: $dimenM;
  }

  .card-item {
    padding: $dimenXXXL $dimenS $dimenS $dimenS;
    max-width: 284px;
    gap: $dimenXS;
    img {
      top: -50px;
      left: calc(50% - 50px);
      max-width: 100px;
      max-height: 100px;
    }
    h3 {
      font-size: 14px;
    }
    h4 {
      font-size: 12px;
    }
  }

  .card-item-loading {
    width:284px;
  }

  .podcast-input-left {
    gap: $dimenXXS;
    input {
      min-width: 180px;
    }
  }

}

//PODCAST DETAIL PAGE

.podcast-section {
  margin: 0rem;
  padding: 0rem;
  width: 100%;
}

.podcast-detail-container {
  margin: 0rem;
  width: 100%;
  gap: $dimenXXXXL;
}

.podcast-detail-container-right {
  margin: 0rem;
  padding: 0rem;
  width: 100%;
  gap: $dimenM;
}

.podcast-detail-container-right-top, .podcast-detail-container-right-bottom {
  margin: 0rem;
  padding: $dimenXS;
  width: 100%;
  border: 1px solid rgba(213, 213, 213, 0.25);
  border-radius: $border2;
  box-shadow: 0px 10px 30px rgba(213, 213, 213, 0.25);
  background: $blueBackground;
  color: $black;
  font-size: 20px;
  font-family: $font1;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.podcast-detail-container-right-top-loading {
  width: 100%;
  height: 50px;
}

.podcast-detail-container-right-bottom {
  padding-top: $dimenM;
  .podcast-detail-container-right-bottom-title {
    padding: $dimenXS;
    width: 100%;
    gap: $dimenXS;
    .podcast-detail-container-right-bottom-title-end {
      gap: $dimenXS;
      h6:nth-child(1) {
        width: 76px;
      }
      h6:nth-child(2) {
        width: 60px;
      }
    }
  }
  h6 {
    margin: 0rem;
    color: $black;
    font-size: 14px;
    font-family: $font1;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
}

.duration-loading {
  width: 60px;
  height: 16px;
}

.episode-row {
  border-top: 1px solid rgba($black, 0.6);
  h6 {
    margin: 0rem;
    color: $black;
    font-size: 14px;
    font-family: $font1;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  > h6 {
    margin: 0rem;
    width: 100%;
    max-width: calc(100% - 260px);
    background-color: transparent;
    color: $blue;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.episode-row:nth-child(even) {
  background-color: $grey-table;
}

.detail-card-item {
  margin: 0rem;
  padding: $dimenXL $dimenM;
  width: 100%;
  max-width: 260px;
  border: 1px solid rgba(213, 213, 213, 0.25);
  border-radius: $border2;
  box-shadow: 0px 10px 30px rgba(213, 213, 213, 0.25);
  background: $blueBackground;
  gap: $dimenS;
  cursor: pointer;
  flex-shrink: 0;
  hr {
    margin: 0rem 0rem;
    width: 100%;
    color: rgba($black, 0.6);
  }
  img {
    max-width: 180px;
    max-height: 180px;
    box-shadow: 4px 4px 30px rgba(213, 213, 213, 0.25);
  }
  .detail-card-item-name {
    width: 100%;
    h3 {
      margin: 0rem;
      margin-left: $dimenXXXS;
      color: $black;
      font-size: 16px;
      font-family: $font1;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
    h4 {
      margin: 0rem;
      margin-left: $dimenXXXS;
      color: $black;
      font-size: 12px;
      font-family: $font1;
      font-style: italic;
      font-weight: 500;
      line-height: 120%;
    }
  }

  .detail-card-item-description {
    width: 100%;
    h3 {
      margin: 0rem;
      color: $black;
      font-size: 14px;
      font-family: $font1;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
    p {
      margin: 0rem;
      color: $black;
      font-size: 12px;
      font-family: $font1;
      font-style: italic;
      font-weight: 400;
      line-height: 120%;
    }
  }
}

.detail-card-item-loading {
  > div:nth-child(1) {
    width: 180px;
    height: 180px;
    box-shadow: 4px 4px 30px rgba(213, 213, 213, 0.25);
  }
  .detail-card-item-name, .detail-card-item-description {
    gap: $dimenXXS;
    div {
      width: 100%;
      height: 18px;
    }
  }
}

.podcast-episode {
  margin: 0rem;
  padding: $dimenXL $dimenM;
  width: 100%;
  border: 1px solid rgba(213, 213, 213, 0.25);
  border-radius: $border2;
  box-shadow: 0px 10px 30px rgba(213, 213, 213, 0.25);
  background: $blueBackground;
  gap: $dimenS;
  h3 {
    margin: 0rem;
    color: $black;
    font-size: 18px;
    font-family: $font1;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  p {
    margin: 0rem;
    width: 100%;
    white-space: pre-wrap;
    color: $black;
    font-size: 14px;
    font-family: $font1;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
  }
  audio {
    width: 100%;
  }
}

@media (max-width: $mediaLG) {

  .podcast-detail-container {
    gap: $dimenM;
  }

  .episode-row {
    > h6 {
      max-width: calc(100% - 20px);
    }
  }

}

@media (max-width: $mediaXS) {

  .podcast-detail-container-right-bottom {
    .podcast-detail-container-right-bottom-title {
      .podcast-detail-container-right-bottom-title-end {
        h6:nth-child(2) {
          display: none !important;
        }
      }
    }

  }

  .duration-loading {
    display: none !important;
  }

}

//404 PAGE

.notfound {
  height: 100vh;
  width: 100vw;
}

.notfound h2 {
  margin: 0rem;
  font-family: $font1;
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 60px;
  color: $blue;
  margin-bottom: 8px;
  text-align: center;
}

.notfound button {
  margin: 0rem;
  padding: $dimenXXS $dimenXS;
  border: 0px;
  border-radius: 2px;
  font-family: $font1;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $blue;
  color: $white;
  text-align: center;
}
