// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$font1: 'Roboto', sans-serif;

// COLORS
$blueBackground: #FBFDFE;
$blue:#3178AE;
$grey: #A4A5A3;
$grey-table: #F9F9F9;
$white: #FFFFFF;
$black: #000000;

// MARGIN PADDING
$dimenXXXS: 0.25rem;
$dimenXXS: 0.5rem;
$dimenXS: 0.75rem;
$dimenS: 1rem;
$dimenM: 1.25rem;
$dimenL: 1.5rem;
$dimenXL: 2rem;
$dimenXXL: 2.5rem;
$dimenXXXL: 4rem;
$dimenXXXXL: 6rem;

// BORDERS
$border2: 0.13rem;
$border4: 0.25rem;
$border12: 0.75rem;
$borde20: 1.25rem;

//MEDIA QUERIES
$mediaXL: 1200px;
$mediaLG: 992px;
$mediaMD: 768px;
$mediaXS: 576px;
