// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$font: 'Roboto', sans-serif;

// COLORS
$blue:#3178AE;
$grey: #A4A5A3;
$white: #FFFFFF;
$black: #000000;